In [1]:
import os
os.chdir(r'd:/Data Science/plotly学习/个人/【12. Global terrorism】 Dropdown-Rangeslider-stackbarline-pie-map/')

import pandas as pd
data = pd.read_csv('data/modified_globalterrorismdb_0718dist.csv')
data.head()

,region_txt,country_txt,provstate,city,iyear,latitude,longitude,nkill,nwound,attacktype1
0,Central America & Caribbean,Dominican Republic,NaN,Santo Domingo,1970,18.456792,-69.951164,1.0,0.0,1
1,North America,Mexico,Federal,Mexico city,1970,19.371887,-99.086624,0.0,0.0,6
2,Southeast Asia,Philippines,Tarlac,Unknown,1970,15.478598,120.599741,1.0,0.0,1
3,Western Europe,Greece,Attica,Athens,1970,37.997490,23.762728,NaN,NaN,3
4,East Asia,Japan,Fukouka,Fukouka,1970,33.580412,130.396361,NaN,NaN,7

In [2]:
#首先对需要统计的字段进行缺失值填充，然后按照国家、地区、年份对死亡、受伤和攻击类型进行统计
data[['nkill','nwound','attacktype1']] = data[['nkill','nwound','attacktype1']].fillna(0)
df= data.groupby(['region_txt','country_txt','iyear'])[['nkill','nwound','attacktype1']].sum().reset_index()
df.head()

              region_txt country_txt  iyear  nkill  nwound  attacktype1
0  Australasia & Oceania   Australia   1970    0.0     0.0            3
1  Australasia & Oceania   Australia   1971    0.0     0.0            3
2  Australasia & Oceania   Australia   1972    1.0     0.0           12
3  Australasia & Oceania   Australia   1974    0.0     0.0            7
4  Australasia & Oceania   Australia   1978    2.0     9.0            6

In [3]:
#获取数据的时间跨度
year_min,year_max = df['iyear'].min(),df['iyear'].max()
print(f'数据中的年份跨度为: {year_min}-{year_max}')

数据中的年份跨度为: 1970-2017

In [4]:
#获取Dropdown组件中的标签信息，第一个是区域标签,核实没有缺失值None
region_ls = df['region_txt'].unique().tolist()
print(region_ls)

['Australasia & Oceania', 'Central America & Caribbean', 'Central Asia', 'East Asia', 'Eastern Europe', 'Middle East & North Africa', 'North America', 'South America', 'South Asia', 'Southeast Asia', 'Sub-Saharan Africa', 'Western Europe']

In [5]:
#获取Dropdown组件中的标签信息，第二个是国家标签,核实也没有缺失值None
country_ls = df['country_txt'].unique().tolist()
print(country_ls)

['Australia', 'Fiji', 'French Polynesia', 'New Caledonia', 'New Hebrides', 'New Zealand', 'Papua New Guinea', 'Solomon Islands', 'Vanuatu', 'Wallis and Futuna', 'Antigua and Barbuda', 'Bahamas', 'Barbados', 'Belize', 'Costa Rica', 'Cuba', 'Dominica', 'Dominican Republic', 'El Salvador', 'Grenada', 'Guadeloupe', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Martinique', 'Nicaragua', 'Panama', 'St. Kitts and Nevis', 'St. Lucia', 'Trinidad and Tobago', 'Armenia', 'Azerbaijan', 'Georgia', 'Kazakhstan', 'Kyrgyzstan', 'Tajikistan', 'Turkmenistan', 'Uzbekistan', 'China', 'Hong Kong', 'Japan', 'Macau', 'North Korea', 'South Korea', 'Taiwan', 'Albania', 'Belarus', 'Bosnia-Herzegovina', 'Bulgaria', 'Croatia', 'Czech Republic', 'Czechoslovakia', 'East Germany (GDR)', 'Estonia', 'Hungary', 'Kosovo', 'Latvia', 'Lithuania', 'Macedonia', 'Moldova', 'Montenegro', 'Poland', 'Romania', 'Russia', 'Serbia', 'Serbia-Montenegro', 'Slovak Republic', 'Slovenia', 'Soviet Union', 'Ukraine', 'Yugoslavia', 'Algeria', 'Bahrain', 'Egypt', 'International', 'Iran', 'Iraq', 'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Libya', 'Morocco', 'North Yemen', 'Qatar', 'Saudi Arabia', 'South Yemen', 'Syria', 'Tunisia', 'Turkey', 'United Arab Emirates', 'West Bank and Gaza Strip', 'Western Sahara', 'Yemen', 'Canada', 'Mexico', 'United States', 'Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Falkland Islands', 'French Guiana', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela', 'Afghanistan', 'Bangladesh', 'Bhutan', 'India', 'Maldives', 'Mauritius', 'Nepal', 'Pakistan', 'Sri Lanka', 'Brunei', 'Cambodia', 'East Timor', 'Indonesia', 'Laos', 'Malaysia', 'Myanmar', 'Philippines', 'Singapore', 'South Vietnam', 'Thailand', 'Vietnam', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Democratic Republic of the Congo', 'Djibouti', 'Equatorial Guinea', 'Eritrea', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', "People's Republic of the Congo", 'Republic of the Congo', 'Rhodesia', 'Rwanda', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Swaziland', 'Tanzania', 'Togo', 'Uganda', 'Zaire', 'Zambia', 'Zimbabwe', 'Andorra', 'Austria', 'Belgium', 'Cyprus', 'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Italy', 'Luxembourg', 'Malta', 'Netherlands', 'Norway', 'Portugal', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom', 'Vatican City', 'West Germany (FRG)']

In [6]:
country_ls.count(None)

0

In [7]:
#获取筛选后的数据，df
def get_data(region,country,span_year):
    df_filter = df[
        (df['region_txt']==region) & (df['country_txt']==country) & (df['iyear']>=span_year[0]) & (df['iyear']<=span_year[1])
    ]
    
    return df_filter

In [8]:
df.head()

              region_txt country_txt  iyear  nkill  nwound  attacktype1
0  Australasia & Oceania   Australia   1970    0.0     0.0            3
1  Australasia & Oceania   Australia   1971    0.0     0.0            3
2  Australasia & Oceania   Australia   1972    1.0     0.0           12
3  Australasia & Oceania   Australia   1974    0.0     0.0            7
4  Australasia & Oceania   Australia   1978    2.0     9.0            6

In [9]:
#验证函数是否有效，输出结果无误
df_filter = get_data('Australasia & Oceania','Australia',[1970,1971])
df_filter

              region_txt country_txt  iyear  nkill  nwound  attacktype1
0  Australasia & Oceania   Australia   1970    0.0     0.0            3
1  Australasia & Oceania   Australia   1971    0.0     0.0            3

In [10]:
#提取最后三列数据
filter_data_ls = df_filter[df_filter.columns[-3:]].values.T.tolist()
filter_data_ls

[[0.0, 0.0], [0.0, 0.0], [3.0, 3.0]]

In [11]:
#核实数据提取无误，列表中的第一个列表数据，就是死亡数据，剩下的依次类推
filter_data_ls[0] == df_filter['nkill'].values.tolist()

True

In [12]:
#进一步把绘制图形的数据的过程也封装进来
def get_data(region,country,span_year):

    '''返回的是一个包含死亡、受伤和攻击类型的列表'''
    df_filter = df[
        (df['region_txt']==region) & (df['country_txt']==country) & (df['iyear']>=span_year[0]) & (df['iyear']<=span_year[1])
    ]
    filter_data_ls = df_filter[df_filter.columns[-3:]].values.T.tolist()
    return filter_data_ls

In [13]:
get_data('Australasia & Oceania','Australia',[1970,1971])

[[0.0, 0.0], [0.0, 0.0], [3.0, 3.0]]

In [14]:
a,b,c = get_data('Australasia & Oceania','Australia',[1970,1971])
a

[0.0, 0.0]

In [15]:
[sum(i) for i in get_data('Australasia & Oceania','Australia',[1970,1971])]

[0.0, 0.0, 6.0]

In [16]:
geo_df = data.groupby(['region_txt','country_txt','iyear','latitude','longitude'])[['nkill','nwound','attacktype1']].sum().reset_index()
geo_df.head()

,region_txt,country_txt,iyear,latitude,longitude,nkill,nwound,attacktype1
0,Australasia & Oceania,Australia,1970,-37.813187,144.962980,0.0,0.0,3
1,Australasia & Oceania,Australia,1971,-33.873651,151.206890,0.0,0.0,3
2,Australasia & Oceania,Australia,1972,-33.868820,151.209295,0.0,0.0,1
3,Australasia & Oceania,Australia,1972,-27.470933,153.023502,1.0,0.0,6
4,Australasia & Oceania,Australia,1974,-33.873651,151.206890,0.0,0.0,7

In [17]:
#筛选组件中的便签选择优化,需要形成一个region作为键，country作为值的字典
option_df = data[['region_txt','country_txt']].groupby('region_txt').agg({'country_txt':lambda x:list(set(x))}).reset_index()
option_df

,region_txt,country_txt
0,Australasia & Oceania,"[French Polynesia, Wallis and Futuna, New Hebr..."
1,Central America & Caribbean,"[Nicaragua, Trinidad and Tobago, Guadeloupe, P..."
2,Central Asia,"[Tajikistan, Georgia, Turkmenistan, Uzbekistan..."
3,East Asia,"[Macau, South Korea, Hong Kong, China, Japan, ..."
4,Eastern Europe,"[Serbia, Soviet Union, Slovenia, Ukraine, Bela..."
5,Middle East & North Africa,"[Lebanon, Libya, Saudi Arabia, Iraq, Israel, B..."
6,North America,"[Canada, Mexico, United States]"
7,South America,"[Brazil, Chile, Ecuador, Suriname, Guyana, Par..."
8,South Asia,"[Mauritius, Sri Lanka, Pakistan, Maldives, Bhu..."
9,Southeast Asia,"[Indonesia, Vietnam, Singapore, South Vietnam,..."
10,Sub-Saharan Africa,"[Democratic Republic of the Congo, South Afric..."
11,Western Europe,"[Vatican City, Portugal, West Germany (FRG), C..."

In [18]:
#以第一列为键，第二列为值构建字典变量
options_series = option_df.apply(lambda x: {x['region_txt']:x['country_txt']},axis=1)
options_series

0     {'Australasia & Oceania': ['French Polynesia',...
1     {'Central America & Caribbean': ['Nicaragua', ...
2     {'Central Asia': ['Tajikistan', 'Georgia', 'Tu...
3     {'East Asia': ['Macau', 'South Korea', 'Hong K...
4     {'Eastern Europe': ['Serbia', 'Soviet Union', ...
5     {'Middle East & North Africa': ['Lebanon', 'Li...
6     {'North America': ['Canada', 'Mexico', 'United...
7     {'South America': ['Brazil', 'Chile', 'Ecuador...
8     {'South Asia': ['Mauritius', 'Sri Lanka', 'Pak...
9     {'Southeast Asia': ['Indonesia', 'Vietnam', 'S...
10    {'Sub-Saharan Africa': ['Democratic Republic o...
11    {'Western Europe': ['Vatican City', 'Portugal'...
dtype: object

In [19]:
#构建成功
all_options = {}
for i in options_series.values:
    all_options.update(i)
all_options

{'Australasia & Oceania': ['French Polynesia',
  'Wallis and Futuna',
  'New Hebrides',
  'Solomon Islands',
  'New Zealand',
  'Australia',
  'Vanuatu',
  'New Caledonia',
  'Fiji',
  'Papua New Guinea'],
 'Central America & Caribbean': ['Nicaragua',
  'Trinidad and Tobago',
  'Guadeloupe',
  'Panama',
  'Honduras',
  'St. Kitts and Nevis',
  'Haiti',
  'Bahamas',
  'Grenada',
  'Belize',
  'Dominica',
  'Cuba',
  'Martinique',
  'Antigua and Barbuda',
  'El Salvador',
  'Barbados',
  'Costa Rica',
  'St. Lucia',
  'Dominican Republic',
  'Guatemala',
  'Jamaica'],
 'Central Asia': ['Tajikistan',
  'Georgia',
  'Turkmenistan',
  'Uzbekistan',
  'Azerbaijan',
  'Armenia',
  'Kazakhstan',
  'Kyrgyzstan'],
 'East Asia': ['Macau',
  'South Korea',
  'Hong Kong',
  'China',
  'Japan',
  'Taiwan',
  'North Korea'],
 'Eastern Europe': ['Serbia',
  'Soviet Union',
  'Slovenia',
  'Ukraine',
  'Belarus',
  'Bulgaria',
  'Czechoslovakia',
  'Yugoslavia',
  'Estonia',
  'Slovak Republic',
  'Macedonia',
  'Czech Republic',
  'Montenegro',
  'Croatia',
  'Hungary',
  'Latvia',
  'Bosnia-Herzegovina',
  'Albania',
  'Serbia-Montenegro',
  'Poland',
  'Moldova',
  'Kosovo',
  'East Germany (GDR)',
  'Russia',
  'Romania',
  'Lithuania'],
 'Middle East & North Africa': ['Lebanon',
  'Libya',
  'Saudi Arabia',
  'Iraq',
  'Israel',
  'Bahrain',
  'United Arab Emirates',
  'Turkey',
  'Morocco',
  'Jordan',
  'Syria',
  'Western Sahara',
  'Yemen',
  'Algeria',
  'South Yemen',
  'West Bank and Gaza Strip',
  'Kuwait',
  'Egypt',
  'International',
  'North Yemen',
  'Tunisia',
  'Iran',
  'Qatar'],
 'North America': ['Canada', 'Mexico', 'United States'],
 'South America': ['Brazil',
  'Chile',
  'Ecuador',
  'Suriname',
  'Guyana',
  'Paraguay',
  'Uruguay',
  'Bolivia',
  'Argentina',
  'Peru',
  'Falkland Islands',
  'French Guiana',
  'Colombia',
  'Venezuela'],
 'South Asia': ['Mauritius',
  'Sri Lanka',
  'Pakistan',
  'Maldives',
  'Bhutan',
  'Nepal',
  'Bangladesh',
  'Afghanistan',
  'India'],
 'Southeast Asia': ['Indonesia',
  'Vietnam',
  'Singapore',
  'South Vietnam',
  'Brunei',
  'Myanmar',
  'Laos',
  'Philippines',
  'Thailand',
  'Malaysia',
  'East Timor',
  'Cambodia'],
 'Sub-Saharan Africa': ['Democratic Republic of the Congo',
  'South Africa',
  'Namibia',
  'Chad',
  'Madagascar',
  'Zambia',
  'Zimbabwe',
  'Mauritania',
  'Equatorial Guinea',
  'Rhodesia',
  'Benin',
  'Gabon',
  'Burundi',
  'Nigeria',
  'Kenya',
  'Central African Republic',
  'Guinea',
  'Seychelles',
  'Gambia',
  'Sudan',
  'Tanzania',
  'Senegal',
  'Guinea-Bissau',
  "People's Republic of the Congo",
  'Botswana',
  'Mali',
  'Cameroon',
  'Eritrea',
  'Mozambique',
  'Burkina Faso',
  'Liberia',
  'South Sudan',
  'Ghana',
  'Zaire',
  'Ivory Coast',
  'Togo',
  'Malawi',
  'Uganda',
  'Swaziland',
  'Sierra Leone',
  'Ethiopia',
  'Somalia',
  'Angola',
  'Rwanda',
  'Comoros',
  'Niger',
  'Republic of the Congo',
  'Djibouti',
  'Lesotho'],
 'Western Europe': ['Vatican City',
  'Portugal',
  'West Germany (FRG)',
  'Cyprus',
  'Iceland',
  'Spain',
  'Austria',
  'Switzerland',
  'United Kingdom',
  'Norway',
  'Finland',
  'Malta',
  'Luxembourg',
  'Ireland',
  'Netherlands',
  'Sweden',
  'Andorra',
  'Greece',
  'Belgium',
  'Germany',
  'Italy',
  'France',
  'Denmark']}