In [1]:
#切换程序的执行路径
import os
os.chdir('d:/Data Science/plotly学习/个人/【11. World suicide rate】Dropdown-Rangedlider-checklist-scatter')

#将文件数据读入到python中
import pandas as pd
df = pd.read_csv('data/suicide rates.csv')
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [2]:
#获取国家信息的唯一值
country_ls = df['country'].unique().tolist()
print(country_ls)

['Albania', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Cabo Verde', 'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Dominica', 'Ecuador', 'El Salvador', 'Estonia', 'Fiji', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Grenada', 'Guatemala', 'Guyana', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Kazakhstan', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Latvia', 'Lithuania', 'Luxembourg', 'Macau', 'Maldives', 'Malta', 'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Netherlands', 'New Zealand', 'Nicaragua', 'Norway', 'Oman', 'Panama', 'Paraguay', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea', 'Romania', 'Russian Federation', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and Grenadines', 'San Marino', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Sri Lanka', 'Suriname', 'Sweden', 'Switzerland', 'Thailand', 'Trinidad and Tobago', 'Turkey', 'Turkmenistan', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan']

In [3]:
#检验列表中是否存在缺失值None
country_ls.count(None)

0

In [4]:
#获取数据的时间跨度
year_min,year_max = df['year'].min(),df['year'].max()
print(year_min,year_max)

1985 2016

In [5]:
#获取年龄分组情况
age = df['age'].unique().tolist()
print(age)

['15-24 years', '35-54 years', '75+ years', '25-34 years', '55-74 years', '5-14 years']

In [6]:
#使用列表的排序功能
age.sort()
print(age)

['15-24 years', '25-34 years', '35-54 years', '5-14 years', '55-74 years', '75+ years']

In [7]:
#借助sorted()函数进行自定义排序规则设置
age_ordered = sorted(age,key=lambda x: int(x.split('-')[0]) if '-' in x else int(x[:2]))
print(age_ordered)

['5-14 years', '15-24 years', '25-34 years', '35-54 years', '55-74 years', '75+ years']

In [8]:
#汇总后的数据
suicide_df = df.groupby(['age', 'country', 'sex', 'year', 'population', 'suicides/100k pop'])['suicides_no'].sum().reset_index()
suicide_df

,age,country,sex,year,population,suicides/100k pop,suicides_no
0,15-24 years,Albania,female,1987,289700,4.83,14
1,15-24 years,Albania,female,1988,295600,2.71,8
2,15-24 years,Albania,female,1989,299900,1.67,5
3,15-24 years,Albania,female,1992,292400,2.39,7
4,15-24 years,Albania,female,1993,285300,3.51,10
...,...,...,...,...,...,...,...
27815,75+ years,Uzbekistan,male,2010,196160,4.59,9
27816,75+ years,Uzbekistan,male,2011,204956,4.88,10
27817,75+ years,Uzbekistan,male,2012,213713,7.02,15
27818,75+ years,Uzbekistan,male,2013,221002,5.88,13
27819,75+ years,Uzbekistan,male,2014,224995,7.56,17

In [9]:
#自杀率排名
suicide_df['suicides_no'].unique()

array([  14,    8,    5, ..., 2990, 3106, 3171], dtype=int64)